# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.xml

TeenAstroUploader/TeenAstroUploader/bin
TeenAstroUploader/TeenAstroUploader/obj
TeenAstroUploader/.vs

TeenAstroFocuser/.vs
TeenAstroFocuser/__vm
TeenAstroFocuser/TeenAstroFocuser.vcxproj.filters
TeenAstroFocuser/TeenAstroFocuser.vcxproj
TeenAstroFocuser/TeenAstroFocuser.sln


SmartHandController/.vs
SmartHandController/__vm
SmartHandController/SmartHandController.sln
SmartHandController/SmartHandController.vcxproj
SmartHandController/SmartHandController.vcxproj.filters
SmartHandController/SmartHandController.vcxproj.user

TeenAstoMainUnit/.vs
TeenAstoMainUnit/OnStep/.vs
TeenAstoMainUnit/OnStep/__vm
TeenAstoMainUnit/OnStep/OnStep.vcxproj.filters
TeenAstoMainUnit/OnStep/OnStep.vcxproj
TeenAstoMainUnit/OnStep/OnStep.sln

libraries/WifiBluetooth-master/.vs
TeenAstroHard/frontST4.bak
TeenAstroHard/frontEM200.bak
TeenAstroHard/back_SUBD.bak
TeenAstroFocuser/TeenAstroFocuser.vcxproj.user
SmartHandController/2d51avoa.btl~
SmartHandController/~$Catalog.xlsx
libraries/WifiBluetooth-master/1y4ivvt4.4dq~
TeenAstoMainUnit/TeenAstro1.0/__vm/.TeenAstro1.0.vsarduino.h
TeenAstoMainUnit/TeenAstro2.0/__vm/.TeenAstro2.0.vsarduino.h
TeenAstoMainUnit/TeenAstro2.0/TeenAstro2.0.vcxproj
TeenAstoMainUnit/TeenAstro2.0/TeenAstro2.0.vcxproj.filters
TeenAstoMainUnit/TeenAstro1.0/TeenAstro1.0.vcxproj.filters
TeenAstoMainUnit/TeenAstro1.0/TeenAstro1.0.vcxproj
Release
bin
obj
CatalogConverter/CatConv/.vs/CatConv/v14/.suo
