# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.xml



Release
__vm
bin
obj
TeenAstroSHC.vcxproj.filters
TeenAstroSHC.vcxproj.user
TeenAstroSHC.sln
TeenAstroSHC.vcxproj
TeenAstroMainUnit/TeenAstroMainUnit.sln
TeenAstroMainUnit/TeenAstroMainUnit.vcxproj
TeenAstroMainUnit/TeenAstroMainUnit.vcxproj.filters
TeenAstroMainUnit/TeenAstroMainUnit.vcxproj.user
TeenAstroUploader/.vs/TeenAstroUploader/v14/.suo
TeenAstroMainUnit/.vs/TeenAstroMainUnit/v15/ipch/AutoPCH/f9eac7c4c0ed7c94/ASTRO.ipch
TeenAstroMainUnit/.vs/TeenAstroMainUnit/v15/ipch/AutoPCH/b57ff45001a1ac05/MOVETO.ipch
TeenAstroMainUnit/.vs/TeenAstroMainUnit/v15/ipch/AutoPCH/a50d0aca39bcf303/TEENASTROMAINUNIT.ipch
TeenAstroMainUnit/.vs/TeenAstroMainUnit/v15/ipch/AutoPCH/9c09f23945935c4b/.TEENASTROMAINUNIT.VSARDUINO.ipch
TeenAstroMainUnit/.vs/TeenAstroMainUnit/v15/ipch/AutoPCH/55c087dc821fbd00/TIMER.ipch
TeenAstroMainUnit/.vs/TeenAstroMainUnit/v15/ipch/AutoPCH/29056f8d2b731964/GOTO.ipch
TeenAstroMainUnit/.vs/TeenAstroMainUnit/v15/Browse.VC.db
TeenAstroMainUnit/.vs/TeenAstroMainUnit/v15/.suo
TeenAstroASCOM/.vs/TeenAstroASCOM/v14/.suo
SimpleFocuser/.vs/SimpleFocuser/v14/.suo
libraries/TeenAstroCoordConv/examples/test1/test1.vcxproj.user
libraries/TeenAstroCoordConv/examples/test1/test1.vcxproj.filters
libraries/TeenAstroCoordConv/examples/test1/test1.vcxproj
libraries/TeenAstroCoordConv/examples/test1/.vs/test1/v15/.suo
CatalogConverter/CatConv/.vs/CatConv/v14/.suo
BluetoothConfig/_incBluetoothConfig.ino/_incBluetoothConfig.ino.ino
