<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*"
           Name="TeenAstro App"
           Language="1033"
           Version="1.6.0"
           Manufacturer="TeenAstro"
           UpgradeCode="C4D5E6F7-A8B9-0123-4567-89ABCDEF0123">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="TeenAstroIcon" SourceFile=".stage\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="TeenAstroIcon" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="TeenAstro App" />
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="AppMenuDir" Name="TeenAstro">
          <Component Id="ShortcutComponent" Guid="E5F6A7B8-C9D0-1234-EF01-23456789ABCD">
            <Shortcut Id="AppShortcut"
                      Name="TeenAstro App"
                      Description="TeenAstro Windows application"
                      Target="[INSTALLFOLDER]teenastro_app.exe"
                      WorkingDirectory="INSTALLFOLDER"
                      Icon="TeenAstroIcon" />
            <RemoveFolder Id="RemoveAppMenuDir" Directory="AppMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\TeenAstro\App" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="TeenAstro App" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="ShortcutComponent" />
    </Feature>
  </Product>
</Wix>
