<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <!-- Avoid routing device HTTP through system proxy (same issue as HttpWebRequest.Proxy above). -->
  <system.net>
    <defaultProxy enabled="false"/>
  </system.net>
</configuration>
