<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*"
           Name="TeenAstro Firmware Uploader"
           Language="1033"
           Version="1.6.0"
           Manufacturer="TeenAstro"
           UpgradeCode="A2B3C4D5-E6F7-8901-2345-67890ABCDEF0">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="TeenAstroIcon" SourceFile=".stage\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="TeenAstroIcon" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="TeenAstro Firmware Uploader" />
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="AppMenuDir" Name="TeenAstro">
          <Component Id="ShortcutComponent" Guid="D4E5F6A7-B8C9-0123-DEF0-123456789ABC">
            <Shortcut Id="UploaderShortcut"
                      Name="TeenAstro Firmware Uploader"
                      Description="Download and upload TeenAstro firmware"
                      Target="[INSTALLFOLDER]TeenAstroUploader.exe"
                      WorkingDirectory="INSTALLFOLDER"
                      Icon="TeenAstroIcon" />
            <RemoveFolder Id="RemoveAppMenuDir" Directory="AppMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\TeenAstro\FirmwareUploader" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="TeenAstro Firmware Uploader" Level="1">
      <ComponentGroupRef Id="UploaderFiles" />
      <ComponentRef Id="ShortcutComponent" />
    </Feature>
  </Product>
</Wix>
