/core
/libraries
/pch
/preproc
/sketch
/build.options.json
/includes.cache
/TeenAstroFocuser.ino.eep
/TeenAstroFocuser.ino.elf
/TeenAstroFocuser.ino.hex
/TeenAstroFocuser.ino.lst
/TeenAstroFocuser.ino.sym
