/.pio/
# Visual Studio (root-level project files when opened from here)
.vs/
*.vcxproj.user
*.vcxproj.filters
*.ipch
*.suo

# C/C++ build
*.d
*.o
*.obj
*.a
*.lib
Release/
bin/
obj/

# IDE / OS
.cursor/
.DS_Store
