/.pio/
# Visual Studio
.vs/
*.vcxproj.user
*.vcxproj.filters
*.ipch
*.suo
TeenAstroServer.sln
TeenAstroServer.vcxproj

# C/C++ build
*.d
*.o
*.obj
*.a
*.lib
Release/
bin/
obj/

# IDE / OS
.cursor/
.DS_Store
